*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a,
h1,
h2,
h3{
    text-decoration: none;
    font-family: sans-serif;

}

.persistent-header{
    background-color: darkcyan;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;


}
.links-list li{
    display: inline-block;
}
.links-list a{
    color: white;
}